*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
    list-style: none;
}

body{
    /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% ); */

    background: #161625!important;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}
/*<------------------------------------------------  Navbar Full Code  --------------------------------------------->*/
.side-navbar{
    display: flex;
    position: relative;
}

.navbar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 6%;
    height: 715px;
    background: #0e0e33!important;
    position: fixed;
    top: 0px;
    z-index: 1000;
    /* border: 2px solid yellow; */
}

.navbar img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.navbar span{
    text-align: center;
}

.icons{
    padding: 34px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons img{
    width: 25px;
    height: 25px;
    margin: 8px 0px;
    cursor: pointer;
    padding: 10px 10px;
}

.icons img:hover{
    background-color: rgb(73, 73, 184);
    border-radius: 100px;
}


.curtain{
    background: #0e0e33!important;
    position: fixed;
    margin-left: 79px;
    width: 0;
    /* width: 20%; */
    overflow: hidden;
    background-color: tomato;
    height: 100vh;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

#menu{
    /* position: absolute; */
    margin-top: 194px;
    width: 90%;
    float: right;
}

#menu a{
    color: white;
    padding: 36px 15px;
    margin-top: -33px;
}

#menu a:hover{
    background-color: gray;
}

/*<-------------------------------------------------- Website Home ----------------------------------------------------->*/

.home{
    width: 94%;
    height: 715px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-left: 60px;
    /* border: 2px solid greenyellow; */
}

.web-title{
    display: block;
    margin: 10px 0px;
    font-size: 4rem;
    color: rgb(0, 0, 255);
}

.coronaStatus{
    padding: 10px 10px;
    display: flex;
    width: 1200px;
}

/*<------------------------------------------ Data Showing All types of Cases ------------------------------------------->*/
.showData{
    width: 50%;
    /* border: 2px solid yellow; */
}

.horizontalCard1{
    color: rgb(255, 0, 0);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.horizontalCard1:hover{
    background: rgb(250, 9, 9, .12549019607843137);
    transform: scale(1.1);
}

.horizontalCard2{
    color: rgb(0, 0, 255);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.horizontalCard2:hover{
    background: rgba(0, 0, 255, 0.125);
    transform: scale(1.1);
}

.horizontalCard3{
    color: rgb(19, 233, 19);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.horizontalCard3:hover{
    background: rgba(19, 233, 19, 0.125);
    transform: scale(1.1);
}

/*<---------------------------------------------- Search Data by using Search Bar ---------------------------------------->*/
.searchCity{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background: rgb(8, 8, 8, .12549019607843137);
    border-radius: 20px;
    margin-left: 40px;
}

.searchCity p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
}

.searchCity .searchInput{
   padding: 20px;
   width: 400px;
   border-radius: 20px;
   border-width: 0;
   background: rgb(9, 9, 231);
   color: white;
   font-weight: bold;
   font-size: 1.1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(19, 233, 19);
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#search{
    font-size: 1.2rem;
    padding: 10px;
    color: rgb(247, 105, 10);
    background-color: rgb(248, 244, 7);
    margin:20px;
    border-radius: 20px;
    border-width: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

#search:hover{
    background: rgb(248, 244, 7, .1254);
    transform: scale(1.1);
}

.dataOutput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -280px;
    transition: all 1s ease-out;
}

.addHeight{
    height: 200px;
}

.coverKrlo{
    display: flex;
    flex-direction: row;
}
.Card1{
    display:flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    border-radius: 20px;
    margin: 10px 5px;
    transition: all 0.3s ease-out;
}
.Card1:hover{
    background: rgba(250, 9, 9, 0.397);
    transform: scale(1.1);
}

.Card2{
    display:flex;
    flex-direction: column;
    color: rgb(0, 0, 255);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.Card2:hover{
    background: rgba(0, 0, 255, 0.308);
}

.Card3{
    display:flex;
    flex-direction: column;
    color: rgb(19, 233, 19);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.Card3:hover{
    background: rgba(19, 233, 19, 0.418);
}

.Card4{
    display:flex;
    flex-direction: column;
    color: rgb(252, 2, 218);
    padding: 10px;
    background: rgb(8, 8, 8, .12549019607843137);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin: 10px 5px;
}
.Card4:hover{
    background: rgba(252, 2, 219, 0.623);
}

.num{
    text-align: center;
    margin: 10px auto;
    font-size: 2.5rem;
}


.graphs{
    display: flex;
    /* flex-direction: column; */
    margin: 40px 50px;
    margin-left: 150px;
    justify-content: center;
}